* {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif, 'Rajdhani', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121626;
  color: #D6AD60;
}

/*            INDEX HTML           */

.container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #e0dae8;
  width: 280px;
  height: 400px;
  margin: 15px;
  border-radius: 15px;
}

.card-image {
  height: 270px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}


.card1 {
  background-image: url('https://i.pinimg.com/564x/d3/3e/e3/d33ee372509f3eb0ad15166fe22671b5.jpg');
}

.card2 {
  background-image: url('https://i.pinimg.com/564x/d3/3e/e3/d33ee372509f3eb0ad15166fe22671b5.jpg');
}

.card3 {
  background-image: url('https://i.pinimg.com/564x/ce/3e/f0/ce3ef02937d90d6e2656fd15476e1860.jpg');
}



.backgroundIMG img {
  opacity: 22%;
  width: 1800px;
  height: 999px;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  /*border: 5px solid;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  text-align: center;
  color: white;
}

.welcomeTo {
  color: #f0f2f9;
  position: absolute;
  top: 43%;
  left: 36%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.myPortfolio {
  position: absolute;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Monsieur La Doulaise', serif;
  font-size: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #504946;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(113, 113, 140);
  text-decoration: none;
  background-color: #504946;
}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #504946;
}

.navbar a {
  color: #D6AD60;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  color: #f4e0bb;
}

.navbar li {
  float: right;
  font-weight: 900;
  font-size: large;
}


.colorful-section li {
  display: flex;
  justify-content: row;
}

.colorful-section {
  height: 100vh;
  /* 100% of the specified viewport height */
  width: 100%;
  /*transition: background-color 0.5s;*/

}

.first {
  background: rgba(217, 217, 217, 0.40);
}

/*i wont change the default name i chose. ill simply change colours etc.*/

.company {
  background-color: #D0D7E7;
  color: #000;
  height: 300px;
  flex-shrink: 0;
}

.companynav a {
  color: #121626;
  text-decoration: none;
  padding: 30px;
  display: block;
  text-align: left;
  margin: 30px;
  line-break: normal;
  text-shadow: 3px 3px 20px #121626;
}

.companynav li {
  float: left;
  font-weight: 900;
  font-size: large;
  cursor: pointer;
}


.companynav a:hover {
  color: #f4e0bb;
}

.companyInfo {
  display: flex;
  width: 244px;
  height: 85px;
  font-size: x-large;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 1%;
  padding-top: 1%;
}

/*
.companyInfo::after {
  content: "\a";
  white-space: pre;
}*/

.home {
  display: flex;
  width: 169px;
  height: 85px;
  flex-direction: column;
  justify-content: right;
  flex-shrink: 0;
}

.about {
  display: flex;
  width: 127px;
  height: 85px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.projects {
  display: flex;
  width: 168px;
  height: 85px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.contactus {
  display: flex;
  width: 196px;
  height: 85px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.socials {
  display: flex;
  width: 244px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.instagram {
  display: flex;
  width: 198px;
  height: 85px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.linkedin {
  display: flex;
  width: 144px;
  height: 85px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.buttonStarted {
  color: #D6AD60;
  background-color: #292b34;
  border: 3px solid #D6AD60;
  border-radius: 11px;
  position: absolute;
  width: 277px;
  height: 80px;
  top: 73%;
  left: 50%;
  gap: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 13px 23px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bold;
}

button:hover {
  background-color: #121626;
  color: #f4e0bb;
  border: 3px solid #f4e0bb;
}

.trademark {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 10%;
  padding-bottom: 2%;
  padding-right: 2%;

}


/*            ABOUT HTML           */

.userInquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.workWithUs {
  width: 648px;
  height: 54px;
  color: #FEFFFC;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;

}

/*
.inquire {
  width: 648px;
  height: 40px;
  color: #FEFFFC;
  font-family: Cinzel;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}*/

/*      FORM      */

.formmmmm {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 100px;
  align-items: center;
  float: center;
  margin-left: 30%;
  size-adjust: none;
}


.colorful-section-blue {
  width: 1900px;
  height: 10px;
  color: #121626;
}

input[type=text] {
  width: 465px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 16px;


  /*
  width: 465px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #504946;*/
}

textarea {
  color: rgb(7, 6, 6);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 465px;
  height: 126px;
  margin-top: 1rem;
  font-size: large;
  font-style: normal;

  /*width: 809px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #504946;
  font-style: normal;
  color: #D0D7E7;
  margin-left: 600px;
  margin-top: 1px;
  margin-right: 900px;*/
}

/*
.termsAndConditions {
  width: 523px;
  display: flex;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: left;
  display: flex;
}*/

.termsAndConditions {
  color: white;
  width: 500px;
}

.TCP {
  color: pink;
  width: 500px;
}

.TCP p {
  font-size: 25px;
}

.TCP a {
  color: #cfc6db;
}

.TCP a:visited {
  color: #D6AD60;
}

.TCP a:hover {
  color: #8c703b;
}

.TCP a:active {
  color: #f4e0bb;
}


.buttonSend {
  color: #D6AD60;
  background-color: #292b34;
  border: 3px solid #D6AD60;
  border-radius: 11px;
  position: absolute;
  width: 250px;
  height: 70px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: block;
  padding: 13px 23px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  align-items: center;
  float: center;
  margin-left: 93%;
  margin-top: 40px;
}

.centered {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 190%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*            ABOUT HTML           */





/*            TERMS AND CONDITIONS HTML           */

.bodyTC {
  background: #EFE2CC;
  color: #000;
  margin: 0;

}

.headerTerms {
  width: 880px;
  height: 180px;
  align-items: center;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: auto;
  width: 640px;
  padding: 50px;
}

.lastUpdated {
  height: 160px;
  flex-shrink: 0;
  display: flex;
  padding-top: 2px;
  margin: auto;
  width: 640px;
  padding: 50px;
  line-height: 150%;

}

.mainTerms {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: auto;
  width: 640px;
  padding: 50px;
  line-height: 1.6;
}

.buttonBack {
  color: #D6AD60;
  background-color: #292b34;
  border: 3px solid #D6AD60;
  border-radius: 11px;
  position: absolute;
  width: 277px;
  height: 80px;
  top: 200%;
  left: 50%;
  gap: 11px;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 13px 23px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  margin-bottom: 100%;
}

.checkbox {
  content: "";
  display: inline-block;
  border: 1px solid #D6AD60;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  height: 100%;
  margin-right: 0.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 26%;
}


/*            PROJECT HTML           */


.skills {
  padding: 20px;
  margin: 30px;
}

.h3P {
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: auto;
}

strong {
  color: #EFE2CC;
}

.skill {
  margin-bottom: 20px;
  margin: 40px;
}

/*
.progress-bar {
  background-color: #D6AD60;
  height: 30px;
  border-radius: 11px;
}

.progress {
  border-radius: 10px;
  width: 50%;
  height: 100%;
  background-color: #121626;
}*/



/*font sizes for each bar + hovers on each*/
.html {
  font-size: 25px;
  cursor: default;

}

.html:hover {
  color: #121626;
  transition: 0.5s;
  cursor: default;
}

.css {
  font-size: 25px;
  cursor: default;
}

.css:hover {
  color: #121626;
  transition: 0.5s;
  cursor: default;
}

.javascript {
  font-size: 25px;
  cursor: default;
}

.javascript:hover {
  color: #121626;
  transition: 0.5s;
  cursor: default;
}

.design {
  font-size: 25px;
  cursor: default;
}

.design:hover {
  color: #121626;
  transition: 0.5s;
  cursor: default;
}


/* progress bar for each skill individually */

/*HTML*/
.progress-barHTML {
  background-color: #D6AD60;
  height: 30px;
  border-radius: 11px;
}

.progressHTML {
  border-radius: 10px;
  width: 90%;
  height: 100%;
  background-color: #121626;
}

/*CSS*/
.progress-barCSS {
  background-color: #D6AD60;
  height: 30px;
  border-radius: 11px;
}

.progressCSS {
  border-radius: 10px;
  width: 76%;
  height: 100%;
  background-color: #121626;
}

/*JS*/
.progress-barJS {
  background-color: #D6AD60;
  height: 30px;
  border-radius: 11px;
}

.progressJS {
  border-radius: 10px;
  width: 50%;
  height: 100%;
  background-color: #121626;
}

/*UI UX DESIGN*/
.progress-barDesign {
  background-color: #D6AD60;
  height: 30px;
  border-radius: 11px;
}

.progressDesign {
  border-radius: 10px;
  width: 66%;
  height: 100%;
  background-color: #121626;
}


/*back to top btn */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #0074D9;
  /* Blue color */
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Styling for mobile menu (responsive with CSS media queries) maybe */

.mobile-menu {
  display: none;
}



/*            INQUIRY HTML           */

.thankYou {
  width: 600px;
  height: 120px;
  top: 511px;
  left: 636px;
  text-align: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
  padding-top: 25%;
}

.thankYouInquiry {
  width: 648px;
  height: 54px;
  color: #FEFFFC;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  align-items: center;
}

.userInquiryHTML {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 2%;
}

.buttonBackInquiry {
  color: #eff0f8;
  background-color: #504946;
  border: 3px solid #eff0f8;
  border-radius: 11px;
  position: absolute;
  width: 277px;
  height: 80px;
  top: 80%;
  left: 50%;
  gap: 11px;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 13px 23px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  margin-bottom: 100%;
}













/*index html*/

/*button:active {
  box-shadow: 0 7px rgb(210, 206, 198);
  transform: translateY(2px);
}*/

/*
.navBar {
  padding: 0px;
  margin: 0px;
}

.navBar a {
  position: relative;
  font-size: 19px;
  color: #D6AD60;
  font-weight: 100;
  text-decoration: none;
  margin-left: 55px;
}

.navBar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1.5px;
  background: #1A1423;
  transition: 0.5s;
}

.navBar a:hover::before {
  width: 100%;
}

.navBar::after {
  color: darkred;
}*/

/*
button {
  display: flex;
  width: 277px;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

}*/