* {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif, 'Rajdhani', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121626;
  color: #D6AD60;
}

.backgroundIMG img {
  opacity: 22%;
  width: 1800px;
  height: 999px;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  /*border: 5px solid;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  text-align: center;
  color: white;
}

.welcomeTo {
  color: #f0f2f9;
  position: absolute;
  top: 43%;
  left: 36%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.myPortfolio {
  position: absolute;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Monsieur La Doulaise', serif;
  font-size: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #504946;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: navy;
  text-decoration: none;

}

.navBar a {
  position: relative;
  font-size: 19px;
  color: #D6AD60;
  font-weight: 100;
  text-decoration: none;
  margin-left: 55px;
}

.navBar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1.5px;
  background: #1A1423;
  transition: 0.5s;
}

.navBar a:hover::before {
  width: 100%;
}

.navBar::after {
  color: darkred;
}